@import './colorPalette.css';

.navbar_container {
    background: var(--bg-light);
    box-shadow: 0px 1px 20px rgba(75, 72, 72, 0.253);
    width: 100vw; 
    top: 0;
    left: 0; 
    height: 60px;
    display: flex;
    justify-content: center; 
    position: fixed;
    z-index: 10;
}

.navbar_inner{
    width: 85vw; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_container {
    display: flex;
    width: 150px;
    justify-content: start;
    align-items: center;
    
    font-family: "Roboto";
}

.logo_container img {
    max-width: 100px;
    height: auto;
}

.links_container {
    position: relative;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    font-family: "Roboto";
    font-weight: 500;
    letter-spacing: 0;
    font-size: 18px;
    
}

.links_container a {
    text-decoration: none;
    cursor: pointer;
    color: var(--text);
}

.hover-underline-animation{
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu-icon{
    top: -14px;
    right: 0;
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

.hidden_menu_container {
    top: 59px;
    left: -22px;
    position: fixed;
    width: 105vw;
    height: 100vh;
    background: var(--bg-light);
    z-index: 100;

    
}

.hidden_links_container {
  padding: 64px;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  gap: 2.5rem;
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: 0;
  font-size: 18px;
  align-items: flex-start;
}

.login_btn{
  width: 100%;
  padding: 0 20px;
  border: var(--border-card);
  background: hsl(0, 0%, 15%);
  border-radius: 15px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  box-shadow: var(--shadow);
}

.login_btn:hover{
  background: radial-gradient(120% 120% at 50% 0%, hsl(0, 0%, 10%) 50%, var(--bg));
}


@media (max-width: 430px) {

    .navbar_container {
        padding: 0;
    }

  

    .logo_container img {
        max-width: 70px;
        height: auto;
    }
} 