@import './colorPalette.css';

.navbar_container {
    background: var(--bg-light);
    box-shadow: 0px 1px 20px rgba(75, 72, 72, 0.253);
    width: 100vw; 
    top: 0;
    left: 0; 
    height: 60px;
    display: flex;
    justify-content: center; 
    position: fixed;
    z-index: 10;
}

.navbar_inner{
    width: 85vw; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_container {
    display: flex;
    width: 150px;
    justify-content: start;
    align-items: center;
    
    font-family: "Roboto";
}

.logo_container img {
    max-width: 100px;
    height: auto;
}

.links_container {
    position: relative;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    font-family: "Roboto";
    font-weight: 500;
    letter-spacing: 0;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: hsla(0, 0%, 95%, 0.7);
    transition: color 0.2s ease;

}

.link:hover {
    color: hsl(0, 0%, 100%);

}

.menu-icon{
    top: -14px;
    right: 0;
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

.hidden_menu_container {
    top: 59px;
    left: -22px;
    position: fixed;
    width: 105vw;
    height: 100vh;
    background: var(--bg-light);
    z-index: 100;

    
}

.hidden_links_container {
  padding: 64px;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  gap: 2.5rem;
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: 0;
  font-size: 18px;
  align-items: flex-start;
}

.login_btn{
  text-decoration: none;
  padding: 5px 20px;
  border: 1px solid hsl(0, 0%, 30%);
  background: hsl(0, 0%, 15%);
  border-radius: 8px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

.login_btn:hover{
  text-decoration: none;
  color: hsl(0, 0%, 5%);
  background: hsl(0, 0%, 90%);
  border: 1px solid hsl(0, 0%, 30%);
}


@media (max-width: 430px) {

    .navbar_container {
        padding: 0;
    }

  

    .logo_container img {
        max-width: 70px;
        height: auto;
    }
} 