.openPack_container{
    display: grid;
    background: radial-gradient(120% 120% at 50% 0%, var(--bg-light) 50%, black);
    height: 100vh;
    grid-template-columns: repeat(11, 9.09vw);
    grid-template-rows: repeat(8, 12.5vh);
    justify-content: center;
}

.packCards_container {
    grid-column: 1 / 12 ;
    grid-row: 1 / 7;
    margin: 0;
    padding: 0;
    height: auto;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 15px;
    font-family: "Poppins", sans-serif;
    display: grid;
    place-content: center;
}

.button_section {
   position: absolute;
   top: 80%;
   left: 50%;
  transform: translate(-50%, -50%);
}

.button_section button {
  padding: 10px 50px 10px 50px;
  border: 1px solid;
  background: #27292d;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.button_section button:hover {
  background: #1f2024;

}

