@import './colorPalette.css';

.pack_container{
    position: relative;
    border-radius: 1rem;
    width: 295px;
    height: 370px;
    display: flex;
    padding-bottom: 16px;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background: var(--gradient);
    border: var(--border-card);
    border-top: 1px solid var(--highlight);
    box-shadow: var(--shadow);
    /* box-shadow: 0 1px 20px hsl(0, 0%, 15%);   */
    
}

.pack_container:hover {
    background: var(--gradient-hover);
}

.pack_container img {
    width: 110%;
    overflow: hidden;
    position: relative;
    margin-bottom: 16px;
     
}

.pack_container h3 {
    color: #3ea6ff;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.5%;
    font-weight: bold;
    font-family: 'open sans';
    
     
}

.button_container {
    width: 58%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    border: none;
    border-radius: 2px;
    font-size: 20px;
    letter-spacing: 0;
    font-weight: 700;
    padding: 6px 20px 6px 20px;
    color : white;
    cursor: pointer;
}

.buyPack {
    background: linear-gradient(to right, #1cb324 0%, #22c23c 100%);
    color: var(--text);
    font-weight: 700;
    border-radius: 0.5rem;
    border: var(--border-card);
    box-shadow: var(--shadow);
    
}

.buyPack:hover{
    opacity: 0.9;
}

.PackInfo {
    background: linear-gradient(to right, #4285f4 0%, #3ea6ff 100%);
    color: var(--text);
    font-weight: 700;
    border-radius: 0.5rem;
    border: var(--border-card);
    box-shadow: var(--shadow);
    
}

.PackInfo:hover{
    opacity: 0.9;
}