.pack_container{
    position: relative;
    border-radius: 15px;
    width: 295px;
    height: 370px;
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
 
    align-items: center;
    overflow: hidden;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);  
    
}

.pack_container img {
    width: 110%;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
     
}

.pack_container h3 {
    color: #17a2b8;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14.8px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
     
}

.button_container {
    width: 58%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    border: none;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 700;
    padding: 6px 20px 6px 20px;
    color : white;
    cursor: pointer;
}

.buyPack {
    background: linear-gradient(to right, #14a50f 0%, #22c23c 100%);
    
}

.buyPack:hover{
    opacity: 0.9;
}

.PackInfo {
    background: linear-gradient(to right, #1581a1 0%, #17a2b8 100%);
    
}

.PackInfo:hover{
    opacity: 0.9;
}