.sort_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

  }
  
.sort_container {
  position: relative;
  width: 80vw;
  height: 50vh;
  background: #111;
  border: 2px solid #474747;
  padding: 32px 50px 16px 50px;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.sort_title{
    margin-bottom: 32px;
}

.sort_categories{
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 15px;
}

.main_sort_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 45vw;         
  border: 2px solid #8a8a8a;
  background-color: transparent;
  border-radius: 18px;
  justify-content: start;
  cursor: default;
  font-size: 17px;
}

.sort_option_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 14vw;         
  border: 2px solid #8a8a8a;
  background-color: #686d77;
  border-radius: 18px;
  cursor: pointer;
  font-size: 17px;
}

.sort_option_btn.selected{
    background-color: #178ab8;
    border-color: #17a2b8;
}

.sort_ok_btn{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 15px;
  height: 40px;
  width: 220px;         
  background: linear-gradient(to top, #11790e 0%, #47aa44 100%);
  border: 2px solid #23dd1c;
  border-radius: 18px;
  cursor: pointer;
  font-size: 17px;
}

  


